/* HEADER */

.navbar {
  background-color: rgb(255, 255, 255);
  opacity: 1;
  z-index: 900;
  visibility: visible;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #666;
  padding-top: 5px;
  width: 100%;
}

.box-one {
  display: flex;
  justify-content: space-around;
  /* width: 20%; */
}

.nav-button {
  height: 15px;
  width: 15px;
}

.box-one > div {
  padding-right: 10px;
}

.box-one:first-child {
  margin-left: 15px;
}

.box-one:last-child {
  padding-right: 0;
}

.hamburger,
.search-btn {
  cursor: pointer;
  transition: ease 0.6s;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #fff;
  color: #333;
  font-size: 11px;
  line-height: 11px;
  font-weight: 500;
  padding: 8px 9px 9px;
  border: none;
}

.search-btn { padding-top: 12px; }

.burger-svg,
.search-svg {
  height: 16px;
  width: 16px;
}

.box-two > div {
  margin: 0 5px;
}

.box-two {
  display: flex;
  width: 10%;
  justify-content: space-around;
}

.topic {
  font-weight: bold;
  font-size: 1.25em;
  padding-top: 10px;
}

.title-logo { bottom: 10px; }

.title-link {
  height: 44px;
  width: 184px;
  top: 10px;
  position: relative;
}

.nav-login,
.nav-subscribe {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  vertical-align: middle;
  font-size: 11px;
  font-weight: 700;
  height: 30px;
  margin-right: 5px;
}

.nav-login { width: 60px; }

.nav-subscribe { width: 80px; }

/* SOCIALS */

.socials * {
  float: left;
}

.socials {
  grid-column-start: 2;
  height: 25px;
  width: 350px;
  padding: 0;
}

li {
  list-style: none;
  padding-right: 10px;
}

.fbook-svg,
.twitter-svg,
.email-svg,
.forward-svg,
.save-svg,
.wa-span {
  vertical-align: middle;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 100%;
  padding: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.wa-span {
  background-image: url(images/wa-icon.png);
  background-size: 25px;
  background-repeat: no-repeat;
  beckground-poition: center;
}

li > button {
  background-color: rgb(255, 255, 255);
  border: none;
}

.save-svg {
  background-color: rgb(255, 255, 255);
  height: 25px;
  cursor: pointer;
  border-radius: 0;
  border: none;
}

.comments-button {
  background-color: transparent;
  border: none;
  color: rgb(102, 102, 102);
  cursor: pointer;
  height: 25px;
  vertical-align: middle;
}

.bubble-icon {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 7px;
}

/* bubble-icon::before {
  border-color: rgb(102, 102, 102) transparent;
  border-style: solid;
  bottom: -7px;
  border-width: 6px 0px 0px 8px;
  content: "";
  display: block;
  left: 15px;
  position: absolute;
  width: 0px;
} */

/* MAIN CONTENT */

.main-body {
  display: grid;
  grid-template-columns: 350px 800px 350px;
  border-bottom: 2px double #666;
  max-width: 100%;
}

.article-title {
  color: #121212;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  word-wrap: break-word;
  border-bottom: 1px solid #666;
  padding-bottom: 50px;
}

.text {
  grid-column-start: 2;
/*   word-break: break-all; */
  word-wrap: break-word;
}

/* IMAGES */

.portrait {
  width: 750px;
}

.img-container,
.figcap {
  grid-column-start: 1;
  grid-column-end: span 3;
  text-align: center;
}

.section-title {
  font-weight: bold;
  grid-column-start: 2;
}

.figcap {
  color: #666;
  font-size: .75rem;
}

/* VIDEO */

.vid-thing {
  grid-column-start: 2;
  grid-column-end: span 1;
  width: 100%;
  height: 350px;
}

/* LINK DIVIDER */

.banner { margin-bottom: 10px; }

/* .nyt {
  float: left;
} */

.nyt-logo {
  margin-left: 80px;
  height: 44px;
  width: 184px;
}

.home-link {
  float: right;
  font-size: 11px;
  color: rgb(86, 123, 149);
  font-weight: 400;
  text-decoration: none;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #666;
}

.brand {
  font-weight: bold;
  padding-bottom: 5px;
}

/* FOOTER LINKS */

.other-links {
  display: flex;
  justify-content: space-around;
  height: 350px;
  width: 100%;
  margin-bottom: 5px;
}

.other-links > section {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.section-link {
  font-size: .75em;
  margin-bottom: 5px;
}

.adder-link {
  font-size: .66em;
  margin-bottom: 5px;
}

.end {
  border-bottom: 2px solid #666;
  padding-bottom: 10px;
}

.start {
  padding-top: 10px;
}

.subscribe {
  border-left: 2px solid #666;
  padding-left: 5px;
}

.subscribe * {
  padding-left: 5px;
}

.footer-link {
  display: flex;
  justify-content: space-around;
  font-size: .75em;
  color: #666;
}

.subscribe-link {
  text-transform: capitalize;
  width: 150px;
  height: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
}

.subscribe-svg,
.digital-svg,
.games-svg,
.cooking-svg {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

.cooking-link { margin-bottom: 30px; }
